*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  .is-loading {
    overflow: hidden;
  }
}

body {
  font-family: 'Inter';
}

@keyframes rotateRoomBottomOut {
  // https://github.com/Steveeeie/react-page-transition/blob/master/src/animations.ts#L572-L581
  from {
  }
  to {
    opacity: 0.3;
    transform: translateY(100%) rotateX(90deg);
  }
}

@keyframes rotateRoomBottomIn {
  // https://github.com/Steveeeie/react-page-transition/blob/master/src/animations.ts#L582-L590
  from {
    opacity: 0.3;
    transform: translateY(-100%) rotateX(-90deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

.roomToBottom {
  // https://github.com/Steveeeie/react-page-transition/blob/master/src/presets.ts#L454-L462
  &In {
    animation: 0.5s rotateRoomBottomIn both;
    transform-origin: 50% 100%;
  }
  &Out {
    animation: 0.5s rotateRoomBottomOut both;
    transform-origin: 50% 0%;
  }
}

.fade {
  &In {
    animation: 0.5s fadeIn forwards;
    transform-origin: 50% 50%;
  }
  &Out {
    animation: 0.5s fadeOut forwards;
    transform-origin: 50% 50%;
  }
}
