*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  .is-loading {
    overflow: hidden;
  }
}

body {
  font-family: 'Inter';
}

@keyframes doOut {
  // https://github.com/Steveeeie/react-page-transition/blob/master/src/animations.ts#L160-L168
  from {
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes doIn {
  // https://github.com/Steveeeie/react-page-transition/blob/master/src/animations.ts#L118-L125
  from {
    opacity: 0.3;
    transform: translateX(-100%) rotateZ(0.01deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

.doTransition {
  // https://github.com/Steveeeie/react-page-transition/blob/master/src/presets.ts#L454-L462
  transform-origin: center center;
  &In {
    animation: 0.5s doIn both;
  }
  &Out {
    animation: 0.5s doOut both;
    transform-origin: bottom right;
  }
}

.fade {
  transform-origin: center center;
  &In {
    animation: 0.5s fadeIn forwards;
  }
  &Out {
    animation: 0.5s fadeOut forwards;
  }
}
